{{! Use the main layout }}
{{!< main }}

<section class="login-register">
    <section class="login-area">
        <h2>Login with Google</h2>
        <a href="/auth/google">
            <button type="button" class="google-login-button">Login with Google</button>
        </a>
    </section>
</section>